h1,
h2,
p,
a {
  color: black;
}

header,
main,
footer,
div,
article,
img {
  margin: 0;
}

body {
  border: 3px solid black;
  text-align: center;
  margin: 20px;
}

/* header */

#header {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* main */

.article-texts {
  text-align: left;
  width: 30vw;
  height: 20vh;
  padding: 5px;
}

#first-article-texts {
  text-align: left;
  padding: 5px;
  background-color: blueviolet;
}

#subject1 {
  border: 1px solid black;
  margin: 20px;
}

#subject2-3 {
  display: flex;
  justify-content: space-between;
}

.imgs-container {
  width: 30vw;
  height: 30vh;
}

#articles-section {
  margin-left: 15vw;
  margin-right: 15vw;
}

#first-img {
  width: 100%;
  height: 30vh;
}

a {
  text-decoration: none;
}

#first-article {
  background-color: skyblue;
}

article {
  padding: 5px;
  border-top: 1px solid black;
}

.flex-subjects {
  border: 1px solid black;
  margin: 20px;
}

button {
  padding: 7px 15px;
}

/* footer */

footer {
  border: 3px solid green;
}

#footer {
  position: sticky;
  bottom: 0;
  background-color: lightgray;
  padding: 10px;
  margin-top: 10px;
}
